.product-item {
    display: flex;
    flex-direction: row;
    padding: 6px 12px;
    align-items: center;
}

.product-img {
    width: 40px;
    height: 40px;
    object-fit: cover;

    .image {
        width: 40px;
        height: 40px;
        object-fit: cover;
    }
}

.product-information {
    margin-left: 15px;

    .product-name {
        color: var(--black);

        &:hover {
            color: var(--primary);
        }
    }

    .product-price {
        color: var(--primary);
    }
}
