// Reset Password
.reset-heading {
    margin-top: 75px;
    width: 100%;
    padding: 34px 0;
    border-bottom: 1px solid #f1f1f1;

    .heading {
        font-size: 2.8rem;
        font-weight: 500;
        text-align: center;
    }
}

.reset-infor {
    margin: 0 90px;
    padding: 50px 0;
}

.infor-heading {
    text-align: center;
    font-size: 3rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 35px;
}

.infor-form {
    margin: 0 260px;
    border-width: 2px;
    padding: 20px;
    border: 2px solid #eaeaea;
}

.infor {
    padding: 0 3px;
    margin-bottom: 20px;

    .infor-name {
        margin-bottom: 5px;
    }

    .require {
        color: #e42234;
        margin-left: 5px;
    }

    .reset-password {
        width: 100%;
        padding: 12px 15px;
        background-color: #fcfcfc;
        border-color: #f1f1f1;
        border-style: solid;
        border-radius: 1px;
        border-width: 1px 1px 3px 1px;
        transition: all ease 0.3s;
        font-size: 1.6rem;

        &:focus-within {
            border-color: #eae0e0;
        }
    }
}

.save-btn {
    color: #fcfcfc;
    background-color: var(--primary);
    text-transform: uppercase;
    font-weight: 600;
    width: 70%;
    margin: 0 77px;
    padding: 15px 20px 12px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;

    &:hover {
        background-color: var(--black);
    }
}
